.adminform{
   padding: 10px 8px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   font-family: "poppins" , "Poppins" ;
}

.adminform-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: lightblue;
    padding: 10px 0px;
    color: rgb(59, 59, 59);
    margin-bottom: 10px;
}

.addLecture{
    /* border: 1px solid red; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addLecture > p{
    /* border: 1px solid green; */
    display: flex;
    min-width: 50vw;
    flex-direction: row;
    max-width: 600px;
    padding: 2px;
    justify-content: space-between;
}
.admin-form-submit-button{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.attendence-name{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 12px 12px;
    gap: 5px;
    font-size: 1.2rem;

    font-weight: 500;
    margin:2px 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.choose_user_image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}